.title {
    color: #007BFF;
    padding-top: 25px;
    font-weight: bold;
}

.title-name {
    color: #007BFF;
    padding-top: 4%;
}

.title-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #007BFF;
    font-size: 20px;
    display: flex;
    padding: 15px;
    margin-bottom: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.title-bar-text.name {
    margin-right: auto; 
    padding-left: 10px;
    color: white;
}

.nav-links {
    display: flex;
    color: white;
}

.title-bar-text {
    padding-right: 8px;
    color: white;
    font-weight: bold;
    margin-right: 20px
}

body {
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.center {
    text-align: center;
    margin: auto;
}



.logo {
    margin-right: 1%;
    height: 40px;
    width: auto;
    align: center
}

.business-case {
    background-color: #c2d7eb;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.business-case-title {
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 7px;
    margin: 0;
    margin-top: 5px;
}

.inner-business-case {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    max-width: 800px;
}

.business-case-item {
    flex: 1; 
    max-width: 250px;
    margin: 10px;
  }

.article {
    padding-top: 25px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 40px;
    margin: 0;
    font-size: 18px;
}


h3, h4 {
    margin-bottom: 0px;
    text-decoration: underline;
    text-decoration-color: black;
    text-underline-offset: 7px;
}


.image-container {
    position: relative;
    width: 200px; 
}

.expandable-image {
    transition: transform 0.3s ease;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    display: none; /* Hide the canvas by default */
}

.expandable-image.expanded {
    transform: scale(1.5); /* Increase the size of the image when the 'expanded' class is applied */
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.popup-content {
    background-color: #fff;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}


.tableauPlaceholder {
    align-items: center;
    margin: auto
}

.skills {
    display: flex;
}

.skills p {
    margin-right: 5%; 
}

.resume-title {
    padding-bottom: 25px;
}

.inner-portfolio {
    float: right; /* Makes the image float to the left, allowing text to wrap around it */
    margin-right: 20px; /* Adds space between the image and the text */
    margin-bottom: 10px; /* Adds space below the image */
}

.text-center {
    text-align: center;
}

form {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}



.outer-portfolio label {
    flex: 1 1 calc(50% - 20px); /* Flex-grow, flex-shrink, and flex-basis for responsiveness */
    box-sizing: border-box;
}

/* Input fields */
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

/* Textarea specific styles */
textarea {
    resize: vertical; /* Allows vertical resizing only */
}

/* Button styling */
button {
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #007BFF;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .outer-portfolio label {
        flex: 1 1 100%; /* Stack the labels on top of each other */
    }
}

@media (max-width: 480px) {
    form {
        padding: 10px; /* Reduce padding on smaller screens */
    }
    textarea {
        width: 100%;
    }
}

.title-link {
    color: inherit;
    text-decoration: none;
}

input {
    width: 100%
}

.copywrite {
    margin-top: 15px;
    font-size: 15px;
}

.social-links {
    background-color: #007BFF;
    padding: 0;
    padding-top: 25px;
    overflow: hidden;
    margin: 0;
    padding-bottom: 0;
    color: white;
    display:flex;
    justify-content: center;
    flex-direction: column
}

.logos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; /* Adjust the gap between logos as needed */
    padding-left: 30px;

}



.subtitle {
    font-size: 12px;
}

.code-block {
    background-color: #1e2127;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', monospace;
    background-color: #282c34;
    color: #abb2bf;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.code-block-text {
    margin-left: 5%
}

.blog-title {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center; /* Optional: Align items vertically in the center */
    width: 100%; /* Optional: Set the width to 100% to take up the entire container */
}

.image {
    width: 100%;
    height: auto;
    box-shadow: 10px 10px 10px 10px #888888;
}


.outer-portfolio1, .outer-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically if needed */
    max-width: 100%; /* Ensure it doesn't exceed its parent width */
}
